{% extends 'components/navbar.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('stylesheets/content.css') }}" rel="stylesheet">
{% endblock %}

{% block app %}
	<h1>Hello {{ app.user.name }}</h1>
    <p>Your email is: {{ app.user.email }}</p>

    <form method="post">
        <input type="hidden" name="toast" value="Account deleted">
        <input class="button" type="submit" value="Delete your account">
    </form>
{% endblock %}