.influx-container {
    flex: 1;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.influx-container a:hover {
    transform: scale(1.1);
}

.slot-background{
    background-color: #272a33;

    margin-top: 1em;
    padding: 1em;
    height: fit-content;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    border-radius: 30px;
}

.separator {
    margin-top: 2em;
    margin-left: 3em;
    margin-bottom: 0em;
    font-size: 1.5em;
}

#search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#search-header .form-input-container {
    height: 40px;
    width: fit-content;
    border-radius: 30px;
    background-color: #272a33;
    padding-left: 20px;

    display: flex;
    align-items: center;
}

.button {
    width: fit-content;
    transition: transform 0.5s;
    background-color: #272a33;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 2em 0 2em;
}

#search-header .form-input-container > input {
    background-color: transparent;
    color: white;
    transition: width 1s;
    width: 20vw;
}

#search-header .form-input-container:nth-of-type(n+2){
    margin-left: 2em;
}

#search-header select {
    background-color: transparent;
    color: white;
    transition: width 1s;
    margin-right: 1em;
    min-width: 200px;
}

#search-header .form-input-container > img {
    height: 40%;
    margin-right: 20px;
}

#search-header .form-input-container >input:focus {
    width: 30vw;
}

#best-serie {
    position: relative;
    border-radius: 30px;
    height: 30vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#best-serie > img {
    position: absolute;
    width: 120%;
    filter: blur(10px) brightness(50%);
}

#best-serie > p {
    z-index: 10;
}

#best-serie > h1 {
    z-index: 10;
    font-size: 3em;
}

#best-serie > a {
    z-index: 10;
    background-color: #ff9c38;
    padding: 1em 1.5em;
    border-radius: 30px;
    transition: transform 0.5s;
}

#best-serie > span {
    z-index: 20;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #ff9c38cb;
    /* transition: transform 3s;
    transition-delay: 1s; */
}

#best-serie > span:first-of-type {
    left: 0;
    animation: span-skew-left 2s cubic-bezier(0.91, 0.13, 0.36, 1.12) forwards 1s;
}

#best-serie > span:last-of-type {
    animation: span-skew-right 2s cubic-bezier(0.91, 0.13, 0.36, 1.12) forwards 1s;
    right: 0;
}

@keyframes span-skew-left {
    0% {
        transform: translateX(0) skew(0);
    }
    100% {
        transform: translateX(-80%) skew(-30deg);
    }
}

@keyframes span-skew-right {
    0% {
        transform: translateX(0) skew(0);
    }
    100% {
        transform: translateX(80%) skew(-30deg);
    }
}
