.influx-container {
    flex: 1;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.influx-container a:hover {
    transform: scale(1.1);
}

.slot-background{
    background-color: #272a33;

    margin-top: 1em;
    padding: 1em;
    height: fit-content;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    border-radius: 30px;
}

.separator {
    margin-top: 2em;
    margin-left: 3em;
    margin-bottom: 0em;
    font-size: 1.5em;
}

#search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#search-header .form-input-container {
    height: 40px;
    width: fit-content;
    border-radius: 30px;
    background-color: #272a33;
    padding-left: 20px;

    display: flex;
    align-items: center;
}

.button {
    width: fit-content;
    transition: transform 0.5s;
    background-color: #272a33;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 2em 0 2em;
}

#search-header .form-input-container > input {
    background-color: transparent;
    color: white;
    transition: width 1s;
    width: 20vw;
}

#search-header .form-input-container:nth-of-type(n+2){
    margin-left: 2em;
}

#search-header select {
    background-color: transparent;
    color: white;
    transition: width 1s;
    margin-right: 1em;
    min-width: 200px;
}

#search-header .form-input-container > img {
    height: 40%;
    margin-right: 20px;
}

#search-header .form-input-container >input:focus {
    width: 30vw;
}
