#best-serie {
    position: relative;
    border-radius: 30px;
    height: 30vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#best-serie > img {
    position: absolute;
    width: 120%;
    filter: blur(10px) brightness(50%);
}

#best-serie > p {
    z-index: 10;
}

#best-serie > h1 {
    z-index: 10;
    font-size: 3em;
}

#best-serie > a {
    z-index: 10;
    background-color: #ff9c38;
    padding: 1em 1.5em;
    border-radius: 30px;
    transition: transform 0.5s;
}

#best-serie > span {
    z-index: 20;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #ff9c38cb;
}

#best-serie > span:first-of-type {
    left: 0;
    animation: span-skew-left 2s cubic-bezier(0.91, 0.13, 0.36, 1.12) forwards 1s;
}

#best-serie > span:last-of-type {
    animation: span-skew-right 2s cubic-bezier(0.91, 0.13, 0.36, 1.12) forwards 1s;
    right: 0;
}

@keyframes span-skew-left {
    0% {
        transform: translateX(0) skew(0);
    }
    100% {
        transform: translateX(-80%) skew(-30deg);
    }
}

@keyframes span-skew-right {
    0% {
        transform: translateX(0) skew(0);
    }
    100% {
        transform: translateX(80%) skew(-30deg);
    }
}
