
#login-icon {
    width: 30%;
}

#submit-container {
    justify-content: space-evenly;
}

#login-container {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30vh;
    height: 30vh;
}

#login-container > img {
    height: 40px;
    margin-bottom: 2em;
}

#inputs-container {
    flex-direction: column;
    height: fit-content;
}

#inputs-container > input {
    height: 40px;
    width: fit-content;
    min-width: 300px;
    border-radius: 30px;
    background-color: #272a33;
    padding-left: 20px;

    display: flex;
    align-items: center;
    margin-top: 1em;
}

#error {
    padding: 2em 3em;
    color: rgb(252, 135, 135);
}