body {
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
}

#app-container {
    max-width: 1400px;
    width: 100%;
}

.shadow {
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.58);
}

.button {
    width: fit-content;
    transition: transform 0.5s;
    background-color: #272a33;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 2em 0 2em;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.orange-highlight {
    background-color: #ff9c38 !important;
    box-shadow: 0px 0px 26px 0px #ff9c3869;
}

#loading {
    z-index: 200;
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: load-back 0.2s linear forwards 0.4s;
}

#loading > img {
    width: 10%;
    max-width: 200px;
    animation: load-img 0.5s forwards cubic-bezier(0.35, 1.45, 0.56,-0.29) 0.1s;
}

@keyframes load-img {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes load-back {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -100;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: rgba(100,100,100,0.4);
}

::-webkit-scrollbar-thumb {
    background: #ff9c38;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffc387;
}

.toast {
    z-index: 200;

    position: fixed;
    bottom: 3em;
    right: 1em;
    min-width: 200px;
    transform: translateX(400px);

    padding: 2em 3em;
    border-radius: 15px;

    background-color: rgb(173, 255, 153);
    color: rgb(48, 48, 48);

    animation: toast-inout 5s ease-in forwards 1s;
}

@keyframes toast-inout {
    0% {
        transform: translateX(400px);
    }
    5%, 95% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(400px);
        display: none;
    }
}