#serie-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#serie-header > img {
    position: absolute;
    width: 100%;
    filter: blur(10px);
}

#serie-header > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, #151520 100%);
}

#serie-header > div {
    pointer-events: auto; 
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 200px;

    height: 200px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#serie-header > div > h1 {
    z-index: 10;
    font-size: 2em;
}

#header-spacer {
    pointer-events: none;
    margin-top: 330px;
}

/* ------------------------------------------ */

#plot {
    z-index: 10;
    padding: 4em;
    padding-bottom: 1em;
    text-align: justify;
    line-height: 25px;
}

#serie-info {
    justify-content: space-between;
}

#infos {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5em;
    padding-left: 10%;
}

#trailer-poster {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#trailer-poster > div {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#trailer-poster > div > p {
    width: 60px;
    background-color: rgba(255, 255, 255, 0.062);
    justify-content: center;
    cursor: pointer;
}

#trailer-poster > img {
    margin-left: 2em;
    border-radius: 20px;
    max-height: 200px;
}

#serie-info > div > p {
    margin-bottom: 1em;
}

#serie-info > div span {
    opacity: 0.5;
    margin-right: 5px;
}

#rating-slot {
    display: flex;
}

#rating-slot >p {
    margin-left: 5px;
    color: #ff9c38;
}

#episodes > div {
    flex-direction: column;
    width: 90%;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
}

.episode-item {
    width: 100%;
    padding-top: 0.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 45px;
}

.episode-item >div {
    display: flex;
}

.episode-item > div > p {
    opacity: 0.7;
    margin-right: 1em;
}

.episode-item input {
    cursor: pointer;
}

#review {
    flex-direction: column;
}

#review > h1  {
    margin: 1em;
    font-size: 1.4em;
}

#review > form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#review > form > textarea {
    background-color: transparent;
    border: solid rgba(255, 255, 255, 0.226) 2px;
    border-radius: 20px;
    padding: 2em;
    resize: vertical;
    color: white;
    font-family: 'Poppins';
}

#review > form > div {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#review > form > div > select {
    margin: 1em;
    width: fit-content;
}

#trailer {
    background-color: rgba(0,0,0,0.8);
    padding-left: 200px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trailer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    padding-bottom: 0.7em;
}

#trailer > div > p {
    background-color: transparent;
}

#reviews-list {
    padding: 2em;
    flex-direction: column;
}

.review-item {
    position: relative;
    width: 90%;
    margin-top: 2em;
    display: flex;
    justify-content: flex-start;
}

.review-item > .review-infos {
    width: 200px;
}

.review-item >p {
    max-width: 80%;
}

.review-item > .review-infos > h1 {
    color: #ff9c38;
}

.review-item > .review-infos > p {
    font-size: 0.7em;
    opacity: 0.4;
    margin-top: 0.8em;
}

.review-item > .review-infos > div {
    display: flex;
    margin-top: 0.2em;
}
.review-item > .review-infos > div > p {
    font-size: 0.6em;
    opacity: 0.8;
    color: #ff9c38;
}

.delete-review > input {
    margin-left: 1em;
    color: rgb(255, 158, 158);
    font-size: 0.9em;
}